In [1]:
#import libraries
import pandas as pd

In [2]:
#read the data
dataset = "footballMatchData.txt"
df = pd.read_csv(dataset, sep = ",")
df.head()

,home_team,away_team,day,date,time,home_score,away_score,home_odds,draw_odds,away_odds,over,under
0,Liverpool,Wolves,Friday,06 Dec 2020,19:15,4,0,1.57,4.20,5.50,1.61,2.30
1,Tottenham,Arsenal,Friday,06 Dec 2020,16:30,2,0,2.15,3.50,3.40,1.90,1.90
2,Sheffield Utd,Leicester,Friday,06 Dec 2020,14:15,1,2,4.00,3.50,1.95,2.00,1.80
3,West Brom,Crystal Palace,Friday,06 Dec 2020,12:00,1,5,2.87,3.25,2.50,2.00,1.80
4,Chelsea,Leeds,Saturday,05 Dec 2020,20:00,3,1,1.44,5.00,6.00,1.44,2.75

In [3]:
df.tail()

,home_team,away_team,day,date,time,home_score,away_score,home_odds,draw_odds,away_odds,over,under
1128,Fulham,Crystal Palace,Saturday,11 Aug 2018,14:00,0,2,2.60,3.4,2.87,1.85,1.95
1129,Huddersfield,Chelsea,Saturday,11 Aug 2018,14:00,0,3,7.00,4.0,1.57,1.95,1.85
1130,Watford,Brighton,Saturday,11 Aug 2018,14:00,2,0,2.50,3.1,3.30,2.40,1.53
1131,Newcastle,Tottenham,Saturday,11 Aug 2018,11:30,1,2,4.75,3.6,1.85,2.04,1.75
1132,Manchester Utd,Leicester,Friday,10 Aug 2018,19:00,2,1,1.55,4.0,7.50,2.04,1.75

In [4]:
#data understanding
print("Number of rows",df.shape[0])
print("Number of columns",df.shape[1])

Number of rows 1133
Number of columns 12

In [5]:
#data cleaning

#missing data
df.isnull().sum()

home_team     0
away_team     0
day           0
date          0
time          0
home_score    0
away_score    0
home_odds     0
draw_odds     0
away_odds     0
over          0
under         0
dtype: int64

There is no null values

In [7]:
#check dtypes
df.dtypes

home_team      object
away_team      object
day            object
date           object
time           object
home_score      int64
away_score      int64
home_odds     float64
draw_odds     float64
away_odds     float64
over          float64
under         float64
dtype: object

In [8]:
df['hour'] = df['time'].str.replace(":.+","",regex=True).astype("int")
df.head()

,home_team,away_team,day,date,time,home_score,away_score,home_odds,draw_odds,away_odds,over,under,hour
0,Liverpool,Wolves,Friday,06 Dec 2020,19:15,4,0,1.57,4.20,5.50,1.61,2.30,19
1,Tottenham,Arsenal,Friday,06 Dec 2020,16:30,2,0,2.15,3.50,3.40,1.90,1.90,16
2,Sheffield Utd,Leicester,Friday,06 Dec 2020,14:15,1,2,4.00,3.50,1.95,2.00,1.80,14
3,West Brom,Crystal Palace,Friday,06 Dec 2020,12:00,1,5,2.87,3.25,2.50,2.00,1.80,12
4,Chelsea,Leeds,Saturday,05 Dec 2020,20:00,3,1,1.44,5.00,6.00,1.44,2.75,20